extends /base.pug
block prehead
  base(href=".")
block head
  +css("assets/lib/@plotdb/sheet/dev/index.min.css")
block body
  .p-4: .mx-auto.rwd.w-640
    .aspect-ratio.ratio-1by1
      #root.shadow-sm.border.border-secondary.rounded


block script
  +script("https://cdnjs.cloudflare.com/ajax/libs/PapaParse/5.3.1/papaparse.min.js")
  +script("assets/lib/@plotdb/sheet/dev/index.min.js")
  script: :lsc
    s = new sheet do
      root: '#root'
      data: [
        [1,2,3,4],
        [5,6,7,8],
        [9,10,11,12],
        [13,14,15,16]
      ]
      idx: {row: true, col: true}
      fixed: {row: 2, col: 2}
      frozen: {row: 2, col: 2}
    c = s.cell {x: 1, y: 1}
    console.log c
    c.innerHTML = """
    <div class="dropdown">
    <div class="btn btn-sm btn-primary dropdown-toggle" data-toggle="dropdown">click me</div>
    </div>
    """
