extends /base.pug
block prehead
  base(href=".")
block head
  +css("assets/lib/@plotdb/sheet/dev/index.min.css")
  style(type="text/css"): :stylus
    /* if swipe back happens once, it then always triggered even in container with overscroll-behavior: contain.
    enforce this on body may solve this issue.
    https://bugs.chromium.org/p/chromium/issues/detail?id=889846
    https://bugs.chromium.org/p/chromium/issues/detail?id=862693
    https://bugs.chromium.org/p/chromium/issues/detail?id=906886
    https://community.airtable.com/t/3074
    */
    body { overscroll-behavior: contain }
block body
  .p-4: .mx-auto.rwd.w-640
    .aspect-ratio.ratio-1by1
      #root.shadow-sm.border.border-secondary.rounded


block script
  +script("https://cdnjs.cloudflare.com/ajax/libs/PapaParse/5.3.1/papaparse.min.js")
  +script("assets/lib/@plotdb/sheet/dev/index.min.js")
  script(type="module"): :lsc
    node =
      type: \dom
      node: div = document.createElement(\div)
    div.setAttribute \class, "d-flex w-100 justify-content-between h-100 align-items-center"
    div.innerHTML = """
    <div>sample</div>
    <div>&times;</div>
    """
    div.addEventListener \click, -> console.log \hi, it.target
    s = new sheet do
      root: '#root'
      size:
        col: [48,64,92,128].map -> "#{it}px"
        row: [48,64,92,128].map -> "#{it}px"
      data: [
        [2,3,node],
        [5,6,7,8],
        [9,10,11,12],
        [13,14,15,16]
      ]
      idx: {row: true, col: true}
      #fixed: {row: 2, col: 2}
      #frozen: {row: 2, col: 2}
    s.on \change, -> console.log it
    c = s.cell {x: 1, y: 1}
    console.log c
    /*
    c.innerHTML = """
    <div class="dropdown">
    <div class="btn btn-sm btn-primary dropdown-toggle" data-toggle="dropdown">click me</div>
    </div>
    """
    */
